/****** Large Loading Indicator *******/
.LoaderLarge,
.LoaderLarge:before,
.LoaderLarge:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}

.LoaderLarge {
	color: var(--highlight-color);
	font-size: 10px;
	margin: 0 auto 47px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.LoaderLarge:before,
.LoaderLarge:after {
	content: '';
	position: absolute;
	top: 0;
}

.LoaderLarge:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.LoaderLarge:after {
  left: 3.5em;
  
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

/****** Small Loading Indicator *******/
.LoaderSmall,
.LoaderSmall:before,
.LoaderSmall:after {
	border-radius: 50%;
	width: 0.35em;
	height: 0.35em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}

.LoaderSmall {
	color: var(--highlight-color);
	font-size: 10px;
	margin: 0 auto 47px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.LoaderSmall:before,
.LoaderSmall:after {
	content: '';
	position: absolute;
	top: 0;
}

.LoaderSmall:before {
	left: -0.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.LoaderSmall:after {
	left: 0.5em;
}

@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
