.AlignLeft {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}

.AlignRight {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	margin-top: 1.5rem;
}

.BubbleLeft {
	display: flex;
	align-items: center;
	position: relative;
	background: var(--highlight-color);
	color: #fff;
	max-width: 750px;
	padding: 0.4rem;
	margin-left: 0.75rem;
	border-radius: 5px;
}

.BubbleLeft::before,
.BubbleLeft::after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: ' ';
	position: absolute;
	pointer-events: none;
}

.BubbleLeft::before {
	border-width: 6px;
	margin-top: -6px;
}

.BubbleLeft::after {
	border-right-color: var(--highlight-color);
	border-width: 7px;
	margin-top: -7px;
}

.BubbleRight {
	display: flex;
	align-items: center;
	position: relative;
	background: var(--dark-color);
	color: #fff;
	max-width: 750px;
	padding: 0.4rem;
	margin-right: 0.75rem;
	border-radius: 5px;
}

.BubbleRight::before,
.BubbleRight::after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: ' ';
	position: absolute;
	pointer-events: none;
}

.BubbleRight::before {
	border-width: 6px;
	margin-top: -6px;
}

.BubbleRight::after {
	border-left-color: var(--dark-color);
	border-width: 7px;
	margin-top: -7px;
}

.MsgDetails {
	max-width: 100px;
	overflow: hidden;
	padding: 0.25rem;
	background: var(--pale-grey);
	text-align: center;
	line-height: 1.25;
	border: 1px solid var(--dark-color);
	border-radius: 6px;
}

.Name {
	font-size: 0.75rem;
	font-weight: bold;
	color: var(--dark-color);
}

.TimeDetails {
	font-size: 0.6rem;
	color: var(--dark-color);
}

@media (max-width: 540px) {
	.BubbleLeft,
	.BubbleRight {
		padding: 2px 0.4rem;
		font-size: 0.8rem;
	}

	.MsgDetails {
		min-width: 45px;
		overflow: hidden;
	}

	.Name {
		font-size: 0.5rem;
	}

	.TimeDetails {
		font-size: 0.5rem;
		color: var(--dark-color);
	}
}
