.Toolbar {
	height: 57px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--primary-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	z-index: 100;
}

.Logo {
	height: 100%;
}

.HamburgerBtn {
	display: none;
}

.HamburgerBtn:hover {
	cursor: pointer;
}

@media (max-width: 630px) {
	.Toolbar {
		height: 53px;
	}
}

@media (max-width: 540px) {
	.Logo {
		display: none;
	}

	.HamburgerBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3.5rem;
		height: 3.5rem;
		margin-left: -0.5rem;
		padding-bottom: 0.3rem;
		border-radius: 50%;
		color: #fff;
		font-size: 2.25rem;
	}

	.NavItems {
		display: none;
	}
}
