.Heading {
	padding: 0.5rem 0 0.5rem 0;
}

.Container {
	max-width: 900px;
	padding: 0.5rem;
	margin: auto;
	display: flex;
	justify-content: space-between;
	background: #fff;
	border-radius: 5px;
}

.AvatarSectionHeading {
	margin-bottom: 0.5rem;
	color: var(--dark-color);
}

.AvatarElements {
	width: 430px;
	height: 325px;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--pale-grey);
	border-radius: 3px;
}

.AvatarButtons {
	display: flex;
}

.UserInputFields {
	width: 430px;
	height: 325px;
	padding: 0.5rem;
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	border: 1px solid var(--pale-grey);
	border-radius: 3px;
	text-align: left;
}

.UserInputSectionHeading {
	grid-column: 1 / span 2;
}

.PasswordInput,
.UserNameInput {
	margin-top: 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.UpdateNameBtn,
.UpdatePasswordBtn,
.UpdatePasswordBtn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.DeleteAccountHeading {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 1 / span 2;
	text-transform: uppercase;
	color: var(--error-highlight-color);
}

.ConfirmContainer {
	padding-top: 0.5rem;
	padding-left: 1rem;
}

.ConfirmCheckbox {
	width: 5%
}

.CheckboxLabel {
	font-size: small;
}

@media (max-width: 730px) {
	.Container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 460px) {
	.AvatarElements,
	.UserInputFields {
		width: 100%;
		height: 350px;
	}

	.AvatarButtons {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.ConfirmCheckbox {
		width: 1rem;
	}
}
