.Heading {
	padding: 0.5rem 0 0.5rem 0;
}

.Container {
	width: 900px;
	height: 80vh;
	padding: 0.5rem;
	margin: auto;
	display: flex;
	justify-content: space-between;
	background: #fff;
	border-radius: 5px;
}

.ItemHeading {
	margin-bottom: 0.5rem;
	color: var(--dark-color);
}

.AvatarElements {
	width: 430px;
	height: 325px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--pale-grey);
	border-radius: 3px;
}

.AvatarButtons {
	display: flex;
}

.UserInputFields {
	width: 430px;
	height: 325px;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	border: 1px solid var(--pale-grey);
	border-radius: 3px;
	text-align: left;
}

.PasswordInput {
	margin-top: 0.45rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
