.Container {
	display: flex;
	align-items: center;
	width: 250px;
	background: var(--primary-color);
	border-bottom: 1px dotted var(--secondary-color);
}

.Tag {
	width: 200px;
	height: 3.5rem;
	display: flex;
	justify-content: left;
	align-items: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: var(--primary-color);
	color: #fff;
	cursor: pointer;
}

.Avatar {
	height: 45px;
	width: 45px;
	background: #fff;
	margin: 0 1rem;
	border-radius: 50%;
	border: 2px solid var(--highlight-color);
}

.NameTagActive {
	background: var(--highlight-color);
}

.Name {
	font-size: 1.25rem;
}

@media (max-width: 1130px) {
	.Container {
		width: 200px;
	}

	.Tag {
		width: 160px;
		height: 3rem;
	}

	.Avatar {
		height: 35px;
		width: 35px;
	}
}

@media (max-width: 540px) {
	.Container {
		width: 160px;
	}

	.Tag {
		width: 120px;
		height: 2.5rem;
	}

	.Avatar {
		height: 30px;
		width: 30px;
	}

	.Name {
		font-size: 0.75rem;
	}
}
