.MsgInputForm {
  position: absolute;
  bottom: 0;
  right: 10%;
  display: flex;
  align-items: center;
  min-width: 60%;
  max-width: 60%;
  height: 3rem;
  background: var(--pale-grey);
}

.MsgInput {
  background: #fff;
}
