.CustomLink {
	cursor: pointer;
}

.CustomLink:not(:last-child) {
	margin-bottom: 0.35rem;
	padding-bottom: 0.35rem;
}

.CustomLink:hover {
	color: var(--highlight-color);
}

.Text-Left-Aligned {
	text-align: left;
}

.Text-Centered {
	text-align: center;
}

.Text-Small {
	font-size: small;
}

.Text-Medium {
	font-size: 0.85rem;
}

.Text-Normal {
	font-size: 1rem;
}

.Text-Extra-Large {
	font-size: 3rem;
}

.Text-Red {
	color: red;
}

.Text-White {
	color: #fff;
}

.Text-Blue {
	color: var(--highlight-color);
}

.Text-Dark {
	color: var(--dark-color);
}

.Text-Bold {
	font-weight: bold;
}
