.Logo {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.Container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	margin: 1rem auto;
	padding: 0.5rem;
	background: #fff;
	text-align: center;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 1px #ccc;
}

hr {
	margin-bottom: 0.5rem;
}

.InputLabel {
	width: 22%;
	margin-bottom: -0.25rem;
	font-size: small;
	color: var(--highlight-color);
	float: left;
}

#Tooltip {
	margin-top: -1rem;
}
