.ToolbarNavItem,
.SideDrawerNavItem {
	display: flex;
	text-align: center;
	color: #fff;
}

.ToolbarNavItem a,
.SideDrawerNavItem a {
	color: var(--secondary-color);
	text-decoration: none;
	font-size: 20px;
	padding: 14px;
}

.ToolbarNavItem a:hover,
.SideDrawerNavItem a:hover {
	color: var(--highlight-color);
}

.ToolbarNavItem a:active,
.ToolbarNavItem a.active {
	color: var(--highlight-color);
	background: var(--secondary-color);
	border-top: 5px solid var(--highlight-color);
}

@media (max-width: 720px) {
	.ToolbarNavItem a,
	.SideDrawerNavItem a {
		font-size: 1rem;
	}
}
