.ToolbarNav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.SideDrawerNav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Mailto {
	color: var(--secondary-color);
	text-decoration: none;
	font-size: 20px;
	padding: 14px;
}

@media (max-width: 720px) {
	.Mailto {
		font-size: 1rem;
	}
}
