* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #091834;
	--secondary-color: #dee9fc;
	--highlight-color: #1258dc;
	--dark-color: #0A337F;
}

body {
	background: var(--secondary-color);
}
